.beers-main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
}

.beers-title {
    margin-left: 10%;
}

#beers-upper {
    position: relative;
    bottom: 3.125rem;
}

.beers-feed-container {
    width: 80%;
    box-sizing: border-box;
    height: 85vh;
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 6.25rem;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    padding: 3.125rem;
    overflow: auto;
}

.beer-card:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    transform: scale(1.02);
}


.beers-feed-container::-webkit-scrollbar {
    background-color: lightgray;
    width: 1em;
}

.beers-feed-container::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 2px;
}

.beers-feed-container::-webkit-scrollbar-thumb:hover {
    background-color: gray;
}

.beers-upper {
    color: black;
    margin: 1.5em auto 2.5em auto;
    font-size: 2.5em;
}

.beers-divider {
    border: 2px solid gray;
    justify-content: center;
    width: 800px;
    background-color: gray;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}

.newBeers-card {
    height: 11.813rem;
    width: 38.75rem;
    border: 2px solid gray;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.25rem;
    background-color: white;
    text-align: center;
}



.new-beer-card:hover {
    background-color: gray;
    cursor: pointer;
    transform: scale(1.02);
}

.new-beer-card {
    font-size: 1.5em;
    display: flex;
    text-align: center;
    height: 80px;
    width: 200px;
    display: flex;
    color:black;
    border: 2px solid gray;
    border-radius: 3px;
    background-color: lightgray;
    padding: 25px;
    margin-left: 10%;
}
