.beerCard-container {
    height: fit-content;
    width: 620px;
    border: 2px solid #a1a1a1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
}

.beerCard-img {
    height: 140px;
    width: 140px;
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
}

.beerCard-divider {
    border: 2px solid #a1a1a1;
    height: 145px;
    margin-left: 20px;
}

.beerCard-content {
    max-width: 400px;
    height: 145px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}

.beerCard-title {
    color: black;
    font-size: 22px;
    margin: 0;
}

.beerCard-description {
    font-size: 14px;
}

.beerCard-info {
    display: flex;
    width: fit-content;
}

.beerCard-info {
    border: 1px solid #a1a1a1;
    padding: 5px 13px;
    font-size: 13px;
    color: black;
}

.beerCard-review-button {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.beerCard-review-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}