

.single-beer-container {
    width: 80%;
    box-sizing: border-box;
    height: 85vh;
    background-color: white;
    margin: 0 auto;
    margin-top: 6.25rem;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3.125rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.reviews-container {
    height: 11.813rem;
    width: 38.75rem;
    /* border: 2px solid black; */
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.25rem;
    background-color: white;
    text-align: center;
    
}

.li-main {
    height: 20.813rem;
    width: 38.75rem;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-top: 1.25rem;
    background-color: white;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.review-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.displayed-rating-container {
    display: flex;
    flex-direction: column;
      
}

.username-div {
    margin: 10px;
}


.username-and-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.review-buttons-container {
    display: flex;

}

.review-div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.review-buttons {
    height: 60px;
    color: black;
    width: 140px;
    margin-top: 50px;
    margin-right: 2%;
    background-color: rgba(250, 250, 250, 0);
    border: solid 1.7px black;
    border-radius: 4px;
    box-shadow: 1px 1px black;
    font-size: 1.2em;
}

.review-buttons:hover {
    background-color: black; 
    color: white;
}


/* .li-main:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    transform: scale(1.02);
} */
