.nav-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: flex-end;
    width: 100%;
    background-color: black;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 160px;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.16);
}

.nav-button-container {
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    width: 50%;
    background-color: white;
}

.nav-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

.beers-list-button-div {
    height: 60px;
    color: white;
    width: 140px;
    background-color: rgba(250, 250, 250, 0);
    border: solid 1.7px black;
    border-radius: 4px;
    box-shadow: 1px 1px black;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.beers-list-button-div:hover {
    background-color: black;
    color: white;
}

.beers-list-button-container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 2%;
    
}

.signup-button {
    height: 60px;
    color: white;
    width: 140px;
    background-color: rgba(250, 250, 250, 0);
    border: solid 1.7px black;
    border-radius: 4px;
    box-shadow: 1px 1px black;
    font-size: 1.2em;
}

.signup-button:hover {
    background-color: black; 
    color: white;
}

.home-button {
    display: flex;
    align-items: center;
    height: 100%;
}

.home-container {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.login-button {
    height: 60px;
    color: white;
    width: 140px;
    background-color: rgba(250, 250, 250, 0);
    border: solid 1.7px black;
    border-radius: 4px;
    box-shadow: 1px 1px black;
    font-size: 1.2em;
}

.login-button:hover {
    background-color: black; 
    color: white;
}

.login-button-container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    margin-right: 2%;
}

.signup-button-container {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.logoImg {
    margin-top: 10px;
    margin-left: 10px;

}


.fas{
    background-color:black;
}

.fa-user-circle {
    color: white;
    /* background: blue; */
}

.profile-button {
    margin-right: 30px;
    margin-top: 15px;
    height: 50%;
    color: white;
    background-color: rgba(250, 250, 250, 0);
    border: solid black;
    border-radius: 4px;
}

.profile-dropdown {
    color: white;
}


.demo-login-button {
    height: 60px;
    color: white;
    width: 140px;
    margin-top: 50px;
    margin-right: 2%;
    background-color: rgba(250, 250, 250, 0);
    border: solid 1.7px black;
    border-radius: 4px;
    box-shadow: 1px 1px black;
    font-size: 1.2em;
}

.demo-login-button:hover {
    background-color: black; 
    color: white;
}